extends layout

block content
  .container
    .row.clearfix
      .col-md-12.column
        .page-header
          h1
            | 关于 
            small 同时还有帮助
        #panel.panel-group
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-1') 
              .panel-heading.pull-left Collapsible Group Item #1
            #panel-element-1.collapse
              .panel-body
                | Anim pariatur cliche...
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-2') 
              .panel-heading.pull-left Collapsible Group Item #2
            #panel-element-2.collapse
              .panel-body
                | Anim pariatur cliche...
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-3') 
              .panel-heading.pull-left Collapsible Group Item #3
            #panel-element-3.panel-collapse.collapse
              .panel-body
                | Anim pariatur cliche...
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-4') 
              .panel-heading.pull-left Collapsible Group Item #4
            #panel-element-4.panel-collapse.collapse
              .panel-body
                | Anim pariatur cliche...
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-5') 
              .panel-heading.pull-left Collapsible Group Item #5
            #panel-element-5.panel-collapse.collapse
              .panel-body
                | Anim pariatur cliche...