extends layout

block content
  .container
    .row.clearfix
      .col-md-12.column
        .page-header
          h1
            | 关于 
            small 同时还有帮助
        #panel.panel-group
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-1') 
              .panel-heading.pull-left 喵喵：不懂区块链能玩这个游戏吗？
            #panel-element-1.collapse
              .panel-body
                | 完全没问题哦，区块链上的细节问题，我们的主人已经在后台处理好了，您完全不用担心哦，您只需准备一个有以太币的账户就可以了。
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-2') 
              .panel-heading.pull-left 喵喵：如何获取以太币呢？
            #panel-element-2.collapse
              .panel-body
                | 这个问题呢？由于主人目前是把我们部署在私有链上的，你可以联系我们的主人，让他给你转些币哦，我们的主人可好了。（赶紧联系我们的主人吧！）
          .div
            button.btn-link.btn-block(data-toggle='collapse', data-parent='#panel', href='#panel-element-3') 
              .panel-heading.pull-left 我还有些问题…
            #panel-element-3.panel-collapse.collapse
              .panel-body
                | 亲，如果您在玩游戏的过程中遇到什么问题呢，请联系我们的主人吧，他会给你一个满意的答复哦。