extends layout

block content
      .text-center
        h1 喵呜，似乎出错了！
          br
          img.img-responsive.center-block(src="images/error.png")
          br
          small= error.status
          small   - 
          small= message
