extends layout

block content
  script(src="javascripts/initWeb3.js")
  #main.container
    .row.clearfix
      .col-md-12.column
        .jumbotron
          .row.clearfix
            .col-md-4.colum
              h1 可收藏
              h1 可繁殖
              h1 讨人喜欢
              p 收藏并繁殖数字喵咪
              p
                a.btn.btn-primary.btn-large(href='#') Learn more
            .col-md-8.column
              .row.clearfix
                .col-md-4.column
                  #carousel-565026.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-565026')
                      li(data-slide-to='1', data-target='#carousel-565026')
                      li(data-slide-to='2', data-target='#carousel-565026')
                    .carousel-inner
                      .item.active
                        img(src='images/0.png', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='images/1.png', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='images/2.png', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-565026')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-565026')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-565171.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-565171')
                      li(data-slide-to='1', data-target='#carousel-565171')
                      li(data-slide-to='2', data-target='#carousel-565171')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-565171')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-565171')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-329748.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-329748')
                      li(data-slide-to='1', data-target='#carousel-329748')
                      li(data-slide-to='2', data-target='#carousel-329748')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-329748')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-329748')
                      span.glyphicon.glyphicon-chevron-right
                .col-md-4.column
                  #carousel-330576.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-330576')
                      li(data-slide-to='1', data-target='#carousel-330576')
                      li(data-slide-to='2', data-target='#carousel-330576')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-330576')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-330576')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-309336.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-309336')
                      li(data-slide-to='1', data-target='#carousel-309336')
                      li(data-slide-to='2', data-target='#carousel-309336')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-309336')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-309336')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-821957.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-821957')
                      li(data-slide-to='1', data-target='#carousel-821957')
                      li(data-slide-to='2', data-target='#carousel-821957')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-821957')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-821957')
                      span.glyphicon.glyphicon-chevron-right
                .col-md-4.column
                  #carousel-100438.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-100438')
                      li(data-slide-to='1', data-target='#carousel-100438')
                      li(data-slide-to='2', data-target='#carousel-100438')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-100438')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-100438')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-927235.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-927235')
                      li(data-slide-to='1', data-target='#carousel-927235')
                      li(data-slide-to='2', data-target='#carousel-927235')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-927235')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-927235')
                      span.glyphicon.glyphicon-chevron-right
                  #carousel-68451.carousel.slide
                    ol.carousel-indicators
                      li.active(data-slide-to='0', data-target='#carousel-68451')
                      li(data-slide-to='1', data-target='#carousel-68451')
                      li(data-slide-to='2', data-target='#carousel-68451')
                    .carousel-inner
                      .item.active
                        img(src='v3/default.jpg', alt='')
                        .carousel-caption
                          h4
                            | First Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default1.jpg', alt='')
                        .carousel-caption
                          h4
                            | Second Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      .item
                        img(src='v3/default2.jpg', alt='')
                        .carousel-caption
                          h4
                            | Third Thumbnail label
                          p
                            | Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                    a.left.carousel-control(data-slide='prev', href='#carousel-68451')
                      span.glyphicon.glyphicon-chevron-left
                    a.right.carousel-control(data-slide='next', href='#carousel-68451')
                      span.glyphicon.glyphicon-chevron-right

        p
          em Git
          |  是一个分布式的版本控制系统，最初由 
          strong Linus Torvalds
          |  编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 
          small Ruby
          |  社区中。
  
