extends layout

block content
  .container
    .row.clearfix
      .col-md-12.column
        .jumbotron
          .row.clearfix
            .col-sm-5.colum.text-center
              h1 可收藏
              h1 可繁殖
              h1 讨人喜欢
              p 收藏并繁殖数字喵咪
              p
                a.btn.btn-success.btn-lg(href='/user') 开始游戏
            .col-sm-7.column
              #carousel-565026.carousel.slide(data-ride="carousel",data-wrap="true")
                .carousel-inner
                  .item.active
                    img(src='images/cat/0.png', alt='')
                  -for(var i=1;i < cat; ++i) {
                  .item
                    img(src='images/cat/'+i+'.png', alt='')
                  -}
        