extends layout

block content
  script(src="javascripts/initWeb3.js")
  #main.container
    .row.clearfix
      .col-md-12.column
        .jumbotron
          .row.clearfix
            .col-md-5.colum
              h1 可收藏
              h1 可繁殖
              h1 讨人喜欢
              p 收藏并繁殖数字喵咪
              p
                a.btn.btn-success.btn-lg(href='#') 开始游戏
            .col-md-7.column
              #carousel-565026.carousel.slide(data-ride="carousel",data-wrap="true")
                .carousel-inner
                  .item.active
                    img(src='images/cat/0.png', alt='')
                  -for(var i=1;i < cat; ++i) {
                  .item
                    img(src='images/cat/'+i+'.png', alt='')
                  -}
        p
          em Git
          |  是一个分布式的版本控制系统，最初由 
          strong Linus Torvalds
          |  编写，用作Linux内核代码的管理。在推出后，Git在其它项目中也取得了很大成功，尤其是在 
          small Ruby
          |  社区中。
  
