doctype html
html
  head
    title= title
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src="jquery.js")
    script(src="popper.js")
    link(href="bootstrap.css" rel="stylesheet")
    script(src="bootstrap.js")
  body
    block content
