extends layout

block content
  script(src="javascripts/initWeb3.js")
  script(src="javascripts/showlist.js")
  #main.container
    .row.clearfix
      .col-md-12.column
        h1 我的猫咪
        br
        #list
          img.img-responsive.center-block(alt='loading', src='images/loading.gif')