div
  #errModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='errModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-body
          h1.modal-title 发生了一些错误！
          h2.text-muted 处理未成功，或许您可以稍后再试
          button.pull-right.btn.btn-default(type='button', data-dismiss='modal') 关闭
          br
          br